

@import "vars";
/*Color mixer*/

@each $name, $color in $colors {
    .bg-#{name},
    .badge-#{name},
    .icon-bg-#{name},
    .hr-bg-#{name}{
        background-color: $color;
    }
    .module-hr-bg-#{name} div[class*="hr-"]{
        background-color: $color!important;
    }
    .text-#{name} {
        color: $color!important;
    }
    .text-#{name}>*:not(font),
    .text-#{name} .btn-link,
    .icon-#{name}{
        color: $color!important;
    }
}


