/* ---------------- TYPOGRAPHY ---------------- */
html, body, p, div, h1, h2, h3, h4, h5, h6, img, form, ul, ol, li {
    margin:0;
    padding: 0;
    outline: 0 $mw-importance;
}
a {
    outline: 0 $mw-importance;
}

input[type="checkbox"]{
    outline: 0 $mw-importance;
    border: 0;
}

select{
    outline: 0 $mw-importance;
}

img, fieldset {
    border:none;
}

.right{text-align:right $mw-importance;}
.left{text-align:left $mw-importance;}
.center{text-align:center $mw-importance;}
.justify{text-align:justify $mw-importance;}

.bold{font-weight: bold $mw-importance;}
.underline{text-decoration: underline $mw-importance;}
.italic{font-style: italic $mw-importance;}

.red{color: #ff2051 $mw-importance;}
.darkred{color: #dd2229 $mw-importance;}
.green{color: green $mw-importance;}
.silver{color: #666666 $mw-importance;}

.m-a{margin: auto $mw-importance;}

.m-0{margin: 0px $mw-importance;}
.m-5{margin: 5px $mw-importance;}
.m-10{margin: 10px $mw-importance;}
.m-20{margin: 20px $mw-importance;}
.m-30{margin: 30px $mw-importance;}
.m-40{margin: 40px $mw-importance;}

.m-t-0{margin-top: 0px $mw-importance;}
.m-t-5 {margin-top: 5px $mw-importance;}
.m-t-10{margin-top: 10px $mw-importance;}
.m-t-15{margin-top: 15px $mw-importance;}
.m-t-20{margin-top: 20px $mw-importance;}
.m-t-30{margin-top: 30px $mw-importance;}
.m-t-40{margin-top: 40px $mw-importance;}
.m-t-50{margin-top: 50px $mw-importance;}
.m-t-60{margin-top: 60px $mw-importance;}
.m-t-70{margin-top: 70px $mw-importance;}
.m-t-80{margin-top: 80px $mw-importance;}
.m-t-90{margin-top: 90px $mw-importance;}
.m-t-100{margin-top: 100px $mw-importance;}

.m-l-0{margin-left: 0px $mw-importance;}
.m-l-10{margin-left: 10px $mw-importance;}
.m-l-20{margin-left: 20px $mw-importance;}
.m-l-30{margin-left: 30px $mw-importance;}
.m-l-40{margin-left: 40px $mw-importance;}
.m-l-50{margin-left: 50px $mw-importance;}
.m-l-60{margin-left: 60px $mw-importance;}
.m-l-70{margin-left: 70px $mw-importance;}
.m-l-80{margin-left: 80px $mw-importance;}

.m-b-0{margin-bottom: 0px $mw-importance;}
.m-b-10{margin-bottom: 10px $mw-importance;}
.m-b-20{margin-bottom: 20px $mw-importance;}
.m-b-30{margin-bottom: 30px $mw-importance;}
.m-b-40{margin-bottom: 40px $mw-importance;}
.m-b-50{margin-bottom: 50px $mw-importance;}
.m-b-60{margin-bottom: 60px $mw-importance;}
.m-b-70{margin-bottom: 70px $mw-importance;}
.m-b-80{margin-bottom: 80px $mw-importance;}
.m-b-90{margin-bottom: 90px $mw-importance;}
.m-b-100{margin-bottom: 100px $mw-importance;}

.p-0{padding: 0px $mw-importance;}
.p-10{padding: 10px $mw-importance;}
.p-20{padding: 20px $mw-importance;}
.p-30{padding: 30px $mw-importance;}
.p-40{padding: 40px $mw-importance;}

.p-t-0{padding-top: 0px $mw-importance;}
.p-t-5{padding-top: 5px $mw-importance;}
.p-t-10{padding-top: 10px $mw-importance;}
.p-t-20{padding-top: 20px $mw-importance;}
.p-t-30{padding-top: 30px $mw-importance;}
.p-t-40{padding-top: 40px $mw-importance;}
.p-t-50{padding-top: 50px $mw-importance;}
.p-t-60{padding-top: 60px $mw-importance;}
.p-t-70{padding-top: 70px $mw-importance;}
.p-t-80{padding-top: 80px $mw-importance;}
.p-t-90{padding-top: 90px $mw-importance;}
.p-t-100{padding-top: 100px $mw-importance;}
.p-t-150{padding-top: 150px $mw-importance;}
.p-t-200{padding-top: 200px $mw-importance;}
.p-t-250{padding-top: 250px $mw-importance;}
.p-t-300{padding-top: 300px $mw-importance;}

.p-b-0{padding-bottom: 0px $mw-importance;}
.p-b-10{padding-bottom: 10px $mw-importance;}
.p-b-20{padding-bottom: 20px $mw-importance;}
.p-b-30{padding-bottom: 30px $mw-importance;}
.p-b-40{padding-bottom: 40px $mw-importance;}
.p-b-50{padding-bottom: 50px $mw-importance;}
.p-b-60{padding-bottom: 60px $mw-importance;}
.p-b-70{padding-bottom: 70px $mw-importance;}
.p-b-80{padding-bottom: 80px $mw-importance;}
.p-b-90{padding-bottom: 90px $mw-importance;}
.p-b-100{padding-bottom: 100px $mw-importance;}
.p-b-150{padding-bottom: 150px $mw-importance;}
.p-b-200{padding-bottom: 200px $mw-importance;}
.p-b-250{padding-bottom: 250px $mw-importance;}
.p-b-300{padding-bottom: 300px $mw-importance;}

@media screen and (max-width: 991px){
    .m-t-10{margin-top: 5px $mw-importance;}
    .m-t-15{margin-top: 7px $mw-importance;}
    .m-t-20{margin-top: 10px $mw-importance;}
    .m-t-30{margin-top: 15px $mw-importance;}
    .m-t-40{margin-top: 20px $mw-importance;}
    .m-t-50{margin-top: 25px $mw-importance;}
    .m-t-60{margin-top: 30px $mw-importance;}
    .m-t-70{margin-top: 35px $mw-importance;}
    .m-t-80{margin-top: 40px $mw-importance;}
    .m-t-90{margin-top: 45px $mw-importance;}
    .m-t-100{margin-top: 50px $mw-importance;}

    .m-l-10{margin-left: 5px $mw-importance;}
    .m-l-20{margin-left: 10px $mw-importance;}
    .m-l-30{margin-left: 15px $mw-importance;}
    .m-l-40{margin-left: 20px $mw-importance;}
    .m-l-50{margin-left: 25px $mw-importance;}
    .m-l-60{margin-left: 30px $mw-importance;}
    .m-l-70{margin-left: 35px $mw-importance;}
    .m-l-80{margin-left: 40px $mw-importance;}

    .m-b-10{margin-bottom: 5px $mw-importance;}
    .m-b-20{margin-bottom: 10px $mw-importance;}
    .m-b-30{margin-bottom: 15px $mw-importance;}
    .m-b-40{margin-bottom: 20px $mw-importance;}
    .m-b-50{margin-bottom: 25px $mw-importance;}
    .m-b-60{margin-bottom: 30px $mw-importance;}
    .m-b-70{margin-bottom: 35px $mw-importance;}
    .m-b-80{margin-bottom: 40px $mw-importance;}
    .m-b-90{margin-bottom: 45px $mw-importance;}
    .m-b-100{margin-bottom: 50px $mw-importance;}

    .p-t-10{padding-top: 5px $mw-importance;}
    .p-t-20{padding-top: 10px $mw-importance;}
    .p-t-30{padding-top: 15px $mw-importance;}
    .p-t-40{padding-top: 20px $mw-importance;}
    .p-t-50{padding-top: 25px $mw-importance;}
    .p-t-60{padding-top: 30px $mw-importance;}
    .p-t-70{padding-top: 35px $mw-importance;}
    .p-t-80{padding-top: 40px $mw-importance;}
    .p-t-90{padding-top: 45px $mw-importance;}
    .p-t-100{padding-top: 50px $mw-importance;}
    .p-t-150{padding-top: 75px $mw-importance;}
    .p-t-200{padding-top: 100px $mw-importance;}
    .p-t-250{padding-top: 125px $mw-importance;}
    .p-t-300{padding-top: 150px $mw-importance;}

    .p-b-10{padding-bottom: 5px $mw-importance;}
    .p-b-20{padding-bottom: 10px $mw-importance;}
    .p-b-30{padding-bottom: 15px $mw-importance;}
    .p-b-40{padding-bottom: 20px $mw-importance;}
    .p-b-50{padding-bottom: 25px $mw-importance;}
    .p-b-60{padding-bottom: 30px $mw-importance;}
    .p-b-70{padding-bottom: 35px $mw-importance;}
    .p-b-80{padding-bottom: 40px $mw-importance;}
    .p-b-90{padding-bottom: 45px $mw-importance;}
    .p-b-100{padding-bottom: 50px $mw-importance;}
    .p-b-150{padding-bottom: 75px $mw-importance;}
    .p-b-200{padding-bottom: 100px $mw-importance;}
    .p-b-250{padding-bottom: 125px $mw-importance;}
    .p-b-300{padding-bottom: 150px $mw-importance;}


    .m-r-10{margin-right: 10px $mw-importance;}
}

.r-15{
    border-radius: 15px;
}

